---
---
$reality-blue: #0099ff;
$reality-blue-dark: #0077dd;
$reality-black: black;

$images: 'art.png', 'battery-boy.gif', 'boffee.gif', 'climb.png', 'cook.png', 'desert-hacks.gif', 'dev.png', 'gamer.png', 'github.png', 'instagram.png', 'linkedin.png', 'music.png', 'qwq.gif', 'reality-blue.gif', 'study-genie.gif', 'twitter.png';

@mixin image-backgrounds {
    @each $image in $images {
        $image-name: str-slice($image, 1, str-index($image, '.') - 1);
        .#{$image-name} { background-image: url(../assets/img/#{$image}); }
    }
}

@mixin transition($str) {
    -webkit-transition: #{$str};
    -moz-transition: #{$str};
    -ms-transition: #{$str};
    -o-transition: #{$str};
    transition: #{$str};      
}

@mixin width-fit-content() {
    width: fit-content;
    width: -moz-fit-content;
}

@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-Regular.ttf);
}

html {
    background-color: white;
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
    /* Firefox 64 */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

a {
    color: $reality-black;
    text-decoration: none;

    &:hover {
        color: $reality-blue;
    }
}

h1 {
    font-weight: normal;
    font-size: 36px
}

p,
ul {
    margin: 0
}

.about {
    padding: 0 10px;

    p {
        margin-left: 15px;
    }

    &-icon {
        display: block;
        height: 72px;
        width: 72px;
        margin: 0 auto;
        background-size: 144px 72px;

        &:hover {
            background-position: -72px 0;
        }
    }

    &-item {
        display: inline-block;
        width: calc(100%/3 - 34px);
        padding: 15px;
    }
}

.container {
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    @include transition('height .5s ease-in-out, padding .5s ease-in-out');
    padding: 0 10px;
    height: 0;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;

    &-block {
        @include transition('height .5s ease-in-out, opacity .3s ease-in-out');
        opacity: 0;
        position: relative;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

.main {
    @include transition('top .5s ease-in-out');
    font-family: 'Quicksand', sans-serif;
    position: relative;
}

.name {
    text-align: center;
    margin: 0;
    
    a:hover {
        color: $reality-black;
    }
}

a.home:hover {
    color: $reality-blue;
}

.nav {
    @include width-fit-content();

    &-button {
        @include transition('border .25s ease-in-out');
        @include width-fit-content();
        margin: 0px auto;
        padding: 12px 25px;
        border: 1px solid transparent;
        text-decoration: none;
        display: block;
        font-size: 21px;

        &-wrapper {
            display: inline-block;
            width: calc(100%/3 - 3px);
        }

        &:visited {
            color: $reality-black;
        }

        &:hover {
            color: $reality-blue;
        }

        &:active {
            color: $reality-black;
        }
    }
}

.portfolio {
    padding: 0 10px;

    &-item {
        display: inline-block;
        width: calc(100%/3 - 24px);
        padding: 10px;
    }

    &-icon {
        display: block;
        height: 96px;
        width: 96px;
        margin: 0 auto;
        background-size: 192px 96px;

        &:hover {
            background-position: -96px 0;
        }
    }

    &:hover {
        background-position: -96px 0;
    }

    &-text {
        @include width-fit-content();
        margin: 0 auto;
        padding: 10px 0
    }
}

.social {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 calc(12.5% - 24px);
    background-size: 96px 48px;

    &:hover {
        background-position: -48px 0;
    }

    &-container {
        padding: 20px 20px
    }
}

.post {
    padding-bottom: 40px;

    &-title {
        margin: 0;
    }

    &-list {
        list-style-type: none;
        padding: 20px 35px;
    }

    &.archive {
        padding-bottom: 20px;
    }

    &-meta {
        clear: both;

        .right-align {
            float: right;
        }
    }

    &-content {    
        padding: 30px 0;

        p {
            padding: 10px 20px;
        }

        ul {
            padding: 10px 55px;
        }

        li {
            padding: 5px 0;
        }

        a {
            color: $reality-blue-dark;
            font-weight: bold;

            &:hover {
                color: $reality-blue;
            }
        }
    }
}

.active {
    border: 1px solid $reality-black;
}

@include image-backgrounds();