@font-face {
    font-family: Quicksand;
    src: url(../assets/fonts/Quicksand-Regular.ttf);
}

.about {
    padding: 0 10px;

    p {
        margin-left: 15px;
    }

    &-icon {
        display: block;
        height: 72px;
        width: 72px;
        margin: 0 auto;
        background-size: 144px 72px;

        &:hover {
            background-position: -72px 0;
        }
    }

    &-item {
        display: inline-block;
        width: calc(100%/3 - 34px);
        padding: 15px;
    }
}

.container {
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    -moz-transition: height .5s ease-in-out, padding .5s ease-in-out;
    -webkit-transition: height .5s ease-in-out, padding .5s ease-in-out;
    transition: height .5s ease-in-out, padding .5s ease-in-out;
    padding: 0 10px;
    height: 0;
    width: 60%;
    margin: 0 auto;
    font-size: 18px;

    &-block {
        opacity: 0;
        -moz-transition: height .5s ease-in-out, opacity .3s ease-in-out;
        -webkit-transition: height .5s ease-in-out, opacity .3s ease-in-out;
        transition: height .5s ease-in-out, opacity .3s ease-in-out;
        position: relative;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

.main {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    top: calc(50vh - 110px);
    -moz-transition: top .5s ease-in-out;
    -webkit-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
}

.name {
    text-align: center;
    margin: 0
}

a {
    color: black;
    text-decoration: none
}

html {
    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none; /* Firefox 64 */

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.nav {
    width: fit-content;
    width: -moz-fit-content;

    &-button {
        margin: 0px auto;
        padding: 12px 25px;
        border: 1px solid transparent;
        text-decoration: none;
        display: block;
        width: fit-content;
        width: -moz-fit-content;

        font-size: 21px;

        -moz-transition: border .25s ease-in-out;
        -webkit-transition: border .25s ease-in-out;
        transition: border .25s ease-in-out;

        &-wrapper {
            display: inline-block;
            width: calc(100%/3 - 3px);
        }

        &:visited {
            color: black;
        }

        &:hover {
            color: #aaa;
        }

        &:active {
            color: black;
        }
    }
}

.portfolio {
    padding: 0 10px;

    &-item {
        display: inline-block;
        width: calc(100%/3 - 24px);
        padding: 10px;
    }



    &-icon {
        display: block;
        height: 96px;
        width: 96px;
        margin: 0 auto;
        background-size: 192px 96px;

        &:hover {
            background-position: -96px 0;
        }
    }

    &:hover {
        background-position: -96px 0;
    }

    &-text {
        margin: 0 auto;
        width: fit-content;
        width: -moz-fit-content;
        padding: 10px 0
    }
}

.social {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 calc(12.5% - 24px);
    background-size: 96px 48px;

    &:hover {
        background-position: -48px 0;
    }

    &-container {
        padding: 20px 20px
    }
}

h1 {
    font-weight: normal;
    font-size: 36px
}

p,
ul {
    margin: 0
}


.dev {
    background-image: url(../assets/img/dev.png);
}

.gamer {
    background-image: url(../assets/img/gamer.png);
}

.art {
    background-image: url(../assets/img/art.png);
}

.music {
    background-image: url(../assets/img/music.png);
}

.cook {
    background-image: url(../assets/img/cooking.png);
}

.climb {
    background-image: url(../assets/img/climbing.png);
}

.bb {
    background-image: url(../assets/img/bb.gif);
}

.dh {
    background-image: url(../assets/img/dh.gif);
}

.sg {
    background-image: url(../assets/img/sg.gif);
}

.bf {
    background-image: url(../assets/img/bf.gif);
}

.active {
    border: 1px solid black
}

.github {
    background-image: url(../assets/img/github.png);
}

.linkedin {
    background-image: url(../assets/img/linkedin.png);
}

.instagram {
    background-image: url(../assets/img/instagram.png);
}

.twitter {
    background-image: url(../assets/img/twitter.png);
}

.mail {
    background-image: url(../assets/img/mail.png);
}