<div style="max-width:450px; margin: auto;">
    <p>hi, i'm terry.</p>
    <br />
    <p>i'm currently based in brooklyn, ny.</p>
    <br />
    <p>i work as a software engineer at  <a href="https://devoted.com" target="_blank">devoted health</a>.</p>
    <br />
    <p>i enjoy music and mixology.</p>
    <br />
    <p>here's what i'm listening to <a href="https://open.spotify.com/playlist/7ckTb4QBc2E5uVo7J3YHkG?si=1ea50fb224494bb0" target="_blank">this month</a>.</p>
    <br />
    <p>follow me on <a href="https://github.com/terry-wen" target="_blank">github</a>, <a href="https://www.twitch.com/tftury" target="_blank">twitch</a>, and <a href="https://www.soundcloud.com/tur2" target="_blank">soundcloud</a>.</p>
    <br/>
    <p>connect with me on <a href="https://www.linkedin.com/in/terrywen/" target="_blank">linkedin</a> and <a href="https://www.instagram.com/turry.wen/" target="_blank">instagram</a>.</p>
</div>