<p>Hi, I'm Terry.</p>
<br />
<p>I'm currently a software engineer working at Microsoft.</p>
<br />
<p>A few of my interests:</p>
<div class="container">
    <div class="about item">
        <div class="about icon cook"></div>
        <div class="label">cooking</div>
    </div>
    <div class="about item">
        <div class="about icon dev"></div>
        <div class="label">development</div>
    </div>
    <div class="about item">
        <div class="about icon art"></div>
        <div class="label">digital art</div>
    </div>
    <div class="about item">
        <div class="about icon gamer"></div>
        <div class="label">gaming</div>
    </div>
    <div class="about item">
        <div class="about icon music"></div>
        <div class="label">music</div>
    </div>
    <div class="about item">
        <div class="about icon climb"></div>
        <div class="label">rock climbing</div>
    </div>
</div>
<p>Connect with me!</p>
<div class="container">
    <div class="social item">
        <a href="https://github.com/terry-wen" target="_blank" class="social icon github"></a>
    </div>
    <div class="social item">
        <a href="https://www.instagram.com/turry.wen/" target="_blank" class="social icon instagram"></a>
    </div>
    <div class="social item">
        <a href="https://www.linkedin.com/in/terrywen/" target="_blank" class="social icon linkedin"></a>
    </div>
    <div class="social item">
        <a href="https://twitter.com/TurryWen" target="_blank" class="social icon twitter"></a>
    </div>
</div>