<div style="max-width:450px; margin: auto;">
    <p>hi, i'm terry.</p>
    <br />
    <p>i'm currently based in brooklyn, ny.</p>
    <br />
    <p>i work as a software engineer at  <a href="https://devoted.com" target="_blank">devoted health</a>.</p>
    <br />
    <p>i dabble in <a href="https://www.soundcloud.com/tur2" target="_blank">music</a>, <a href="https://www.instagram.com/shutup.difficult/" target="_blank">mixology</a>, and a bit of <a href="https://terry-wen.itch.io" target="_blank">game dev</a>.</p>
    <br />
    <p>here's what i'm listening to <a href="https://open.spotify.com/playlist/0cWml603ay6M61NlUZ3Jb1?si=66544b769bdc45c0" target="_blank">this month</a>.</p>
    <br />
    <p>follow me on <a href="https://github.com/terry-wen" target="_blank">github</a> and <a href="https://www.twitch.com/tftury" target="_blank">twitch</a>.</p>
    <br/>
    <p>connect with me on <a href="https://www.linkedin.com/in/terrywen/" target="_blank">linkedin</a> and <a href="https://www.instagram.com/turry.wen/" target="_blank">instagram</a>.</p>
</div>
