<div class="projects item">
    <a href="https://globalgamejam.org/2018/games/battery-boy" target="_blank"
        class="projects icon battery-boy"></a>
    <div class="label">Battery Boy</div>
</div>
<div class="projects item">
    <a href="https://www.instagram.com/boffee.pics/" target="_blank" class="projects icon boffee"></a>
    <div class="label">Boffee</div>
</div>
<div class="projects item">
    <a href="{{ '/dh-static' | relative_url }}" target="_blank" class="projects icon desert-hacks"></a>
    <div class="label">Desert Hacks</div>
</div>
<div class="projects item">
    <a href="#" class="projects icon qwq"></a>
    <div class="label">qwq</div>
</div>
<div class="projects item">
    <a href="https://github.com/terry-wen/reality-blue" target="_blank" class="projects icon reality-blue"></a>
    <div class="label">Reality Blue</div>
</div>
<div class="projects item">
    <a href="https://repository.asu.edu/items/42595" target="_blank" class="projects icon study-genie"></a>
    <div class="label">Study Genie</div>
</div>