---
layout: default
---

<body>
  <div id="main" class="container main">
    <div id="title" class="container">
      <h3 class="name"><a href="index" id="home">Back to home</a></h3>
    </div>
    <div id="content" class="content">
      <p>Blog Archive</p>
      <br />
      <ul class="post-list">
        {% for post in site.posts %}
        <li class="post archive">
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
          </span>

          <h3 class="post-title">
            <a class="post-link" href="{{ post.url | relative_url }}" {% if lang != empty %} lang="{{ lang }}"
              {% endif %}>{{ post.title | escape }}</a>
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</body>